{% extends 'base.html.twig' %}

{% block title %}Url statistics{% endblock %}

{% block body %}
	<div class="row">
		<h2 class="col-md-4 col-md-offset-4">
			<a href="{{ url('redirect_by_alias', {'urlAlias': url_alias}) }}">
				{{ url('redirect_by_alias', {'urlAlias': url_alias}) }}</a>
		</h2>
	</div>
	<div class="row">
		<h1 class="col-md-4 col-md-offset-4">Visited {{ usages_count }} times</h1>
	</div>
	<div class="row">
		<h3 class="col-md-4 col-md-offset-4">
			<a href="{{ url('main_page') }}">Main page</a>
		</h3>
	</div>
{% endblock %}
